body {
  margin:0;
  overflow-x: hidden;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

.header_top {
  background-color: #231f20;
  padding: 1px 150px;
  color: #ffd20e;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.header_middle {
  background-color: #ffd20e;
  padding: 40px 150px 30px 150px;
}

.header_bottom {
  background-color: #231f20;
  padding: 2px 150px 0px 150px;
}

content {
  position: relative;
  width: 70%;
  margin: auto;
}

main {
  padding: 25px 150px;
  font-family: 'Roboto', sans-serif;
}

#block-sunstar-site-branding img {
  width:auto;
  height: 35px;
}

/*Main Navigation Top Bar*/

#block-sunstar-main-menu ul li {
  font-family: 'Arvo', serif;
  font-weight: bold;
  text-transform: uppercase;
}

#block-sunstar-main-menu ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#block-sunstar-main-menu li {
  float: left;
}

#block-sunstar-main-menu a{
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

#block-sunstar-main-menu a:not(.is-active) {
  color: white;
}

#block-sunstar-main-menu a:hover{
  padding-bottom: 10px;
  border-bottom: #ffd20e 5px solid;
}


#block-sunstar-main-menu a.is-active{
  color: #ffd20e;
  padding-bottom: 10px;
  border-bottom: #ffd20e 5px solid;
}

/*Article*/
article {
  font-family: 'Roboto', sans-serif;
}

article ul li{
  list-style-type: disc;
}

article a {
  color: #0060af;
}

/**/
.col {
  float: left;
  width: 19%;
  padding: 10px 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*Modal*/
.modal-header h4 {
  font-weight: 500;
}

.modal-buttons button {
  background-color: #dc3545;
  color: white;
  font-size: 17px;
}

.modal-body a {
  text-decoration: underline;
}

.modal-body p {
  font-size: 17px;
}

/*Footer*/
footer {
  background-color: white;
  border-top: #ffd20e 3px solid;
  padding: 10px 150px 25px 150px;
  font-family: 'Roboto', sans-serif;
}

footer a {
  font-size: 15px;
  line-height: 40px;
  font-family: Roboto Medium;
  color: #adadad;
  margin-left: -40px;
}

footer a:hover {
  color: #adadad;
}

.footer-title {
  font-family: 'Arvo', serif;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 15px;
}

.footer-row {
  border-top: 1px solid #f4f4f4;
  color: #adadad;
  font-size: 15px;
  font-weight: 500;
}

.footer-col {
  width: 49%;
  display: inline-block;
  padding:20px 0px;
}

/*Article*/
@font-face {
  font-family: 'Publico';
  src: url('/fonts/Publico-Bold.ttf');
}

.layout__region.footer h5 {
  font-family: 'Arvo', serif;
  font-weight: bold;
  text-transform: uppercase;
}

.layout__region.footer p {
  color: #666;
  font-size: 14px;
  line-height: 21px;
}

.layout__region span {
  font-size: 36px;
  line-height: 42px;
  font-family: 'Publico';
  font-weight: 800;
}

.layout__region img {
  margin-top: 30px;
}

.layout__region p {
  font-size: 16px;
  color:#232323;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

